<!DOCTYPE html>
<html>
  <head>
    <title><%= file.data.title %> | 無職の学び舎 </title>

    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta property="og:type" content="article" />
    <meta property="og:title" content="<%= file.data.title %>" />
    <meta property="og:site_name" content="無職はゲーム数学の勉強をする | 無職の学び舎" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ProgPuyan" />
    
    <script src="../../../assets/js/mathLab.js"></script>
    <link rel="stylesheet" href="../../../assets/css/default.css">

    <%# vender系のjs,cssの読み込み %>
    <script src="../../../venders/somali/somali.js"></script>
    <script src="../../../venders/highlight/highlight.pack.js"></script>
    <link rel="stylesheet" href="../../../venders/highlight/atom-one-dark.css">

    <script>
      MathJax = {
        chtml: {
          matchFontHeight: false
        },
        tex: {
          inlineMath: [['$', '$']]
        }
      };
    </script>
    <script id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
    </script>    

    <script src="../../../assets/js/props.js"></script>
  </head>
  <body>
    <header>
      <ol itemscope itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a itemprop="item" href="https://www.nekonecode.com">
            <span itemprop="name">無職の学び舎</span>
          </a>
          <meta itemprop="position" content="1" />
        </li>
        <li>&gt;</li>
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a itemprop="item" href="../../../index.html">
            <span itemprop="name">無職はゲーム数学の勉強をする</span>
          </a>
          <meta itemprop="position" content="2" />
        </li>
        <li>&gt;</li>
        <li><%= file.data.title %></li>
      </ol>      
    </header>
    <main>
      <article>
        <h1><%= file.data.title %></h1>
        <%- file.contents %>
      </article>
    </main>

    <footer>
      <span>無職の学び舎 | Nekonecode</span>
    </footer>
    
    <script src="main.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>